.post-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  margin: 20px 250px;
  width: 75%;
  position: relative;
  max-width: 600px;
  cursor: pointer;
}

.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.user-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-header-text {
  flex: 1;
  justify-content: flex-start;
  display: flex;
}

.post-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.footer-icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  cursor: pointer;
}

.icon-wrapper {
  display: flex;
  align-items: center;
}

.comment-num {
  margin-right: 5px;
  font-size: 14px;
  margin-top: 17px;
}

.post-comments {
  margin-top: 10px;
}

.comment-list {
  list-style-type: none;
  padding: 0;
}

.comment-item {
  margin-bottom: 10px;
}

.comment-date {
  color: #888;
  font-size: 0.8rem;
}

.post-date {
  font-size: 8.5px;
  color: grey;
  position: absolute;
  left: 75px;
  top: 50px;
}

.share-icons {
  display: flex;
  justify-content: space-evenly;
}

.share-icon {
  background-color: transparent;
}

.youtube-icon {
  width: 90px;
}

.reddit-icon {
  width: 100px;
}

.x-icon {
  width: 80px;
}

.facebook-icon {
  width: 60px;
}

@media (max-width: 1024px) {
  .post-card {
    width: 75%;
  }
}

@media (max-width: 768px) {
  .post-card {
    width: 75%;
    margin: 10px 70px;
    padding: 15px;
  }
  .error-message {
    margin-left: 50px;
    font-size: 13px;
    color: red;
  }
}
