.buttons-style {
  display: flex;
}
.following-followers {
  display: flex;
  margin-left: 5px;
  margin-top: -20px;
  margin-bottom: -30px;
}
.user-links {
  display: flex;
  margin-right: 20px;
}
.user-title {
  display: flex;
}
.user-bio {
  display: flex;
}
.button-edit {
  font-size: 12px;
  background-color: lightgrey;
  border: none;
  color: black;
}
.button-edit:hover {
  color: black;
  background-color: lightgrey;
}
.test {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 1000px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.useri {
  width: 100px;
  position: relative;
  margin-top: 20;
  border-radius: 100%;
}
.button-posts {
  font-size: 12px;
  background-color: lightgrey;
}
.button-settings {
  font-size: 12px;
  background-color: lightgrey;
}
@media (max-width: 768px) {
  .colol {
    width: 250px;
    position: relative;
    margin-top: 10px;
    margin-right: auto;
  }
  .username-p {
    margin-right: auto;
    justify-content: center;
    display: flex;
    margin-bottom: 10px;
  }
  .buttons-style {
    display: flex;
    height: 30px;
    font-size: 1em;
  }
  .button-edit {
    font-size: 12px;
    background-color: lightgrey;
    border: none;
    color: black;
  }
  .button-posts {
    font-size: 12px;
    background-color: lightgrey;
  }
  .button-settings {
    font-size: 12px;
    background-color: lightgrey;
  }
  .user-links {
    margin-left: -15px;
  }
  .test {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 300px;
    margin-top: -30px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-right: auto;
  }
  .user-bio {
    display: flex;
    justify-content: center;
  }
  .user-title {
    display: flex;
    margin-left: 20px;
    margin-bottom: -3px;
  }
}
