.user-card {
  background-color: white;
  border: 0.1em solid lightgrey;
  padding: 20px;
  margin-bottom: 20px;
  flex: 1;
  max-width: 50%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  width: 300px;
}

.user-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.user-card p {
  font-size: 14px;
  color: #666;
}

.followers-list {
  margin-top: 10px;
}

.followers-list li {
  list-style-type: none;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message-container {
  position: fixed;
  top: 0;
  right: 100%;
  width: 50%;
  height: 100vh;
  background-color: #fff;
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease;
  padding: 20px;
  z-index: 0;
  width: 363px;
}

.message-container.open {
  right: 0;
}

.message-input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  resize: none;
}

.sheno {
  width: 100px;
  background: none;
  color: black;
  cursor: pointer;
  padding: 3px 30px;
}

.message-list {
  overflow-y: auto;
  height: calc(100% - 60px);
}

.message-input-container {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
}
